[submodule "pelican/pelican-plugins"]
	path = pelican/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican/plugins/ipynb"]
	path = pelican/plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
